﻿@model AplikacjaDnD.Models.Przygoda

@{
    ViewBag.Title = "Details";
}
<style>
    .jumbotron {
        background-color: crimson;
        color: #fff;
    }

    .btn-md {
        background-color: #009999;
        border-color: #009999;
    }
</style>


<h2></h2>
<div class="col-lg-12 text-right">
    <img src="~/Images/default-avatar.png" class="img-rounded" alt="Cinque Terre" width="50" height="50">
    <h4>@Session["UserNick"]</h4>
    <h5>Gracz</h5>
</div>
<div class="container">
    <div>
        <h4>Przygoda</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MistrzGry.Imie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MistrzGry.Imie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tytul)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tytul)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PoziomTrudnosci)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PoziomTrudnosci)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LiczbaGraczy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LiczbaGraczy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LiczbaLokacji)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LiczbaLokacji)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fabula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fabula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
    <p>
        <a class="btn btn-info btn-md" href=@Url.Action("DolaczDoPrzygody", "Przygoda")>Powrót</a>
    <p>
        </div>
