﻿@model IEnumerable<AplikacjaDnD.Models.Przygoda>

@{
    ViewBag.Title = "DolaczDoPrzygody";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
<h2 class="naglowek">wybierz przygodę</h2>
<div id="boxContainer" class="container ceneterContainer">

    <table class="highlight centered responsive-table">
        <tr>
            <th class="center-align">
                Mistrz Gry
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.PoziomTrudnosci)
            </th>
             <th class="center-align">
                @Html.DisplayNameFor(model => model.LiczbaGraczy)
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Fabula)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MistrzGry.Nick)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoziomTrudnosci)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiczbaGraczy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabula)
                </td>
                <td>
                    <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Dolacz","Przygoda", new { idPrzygoda = item.IdPrzygoda })><i class="material-icons right">send</i>Dołącz</a>
                </td>
            </tr>
        }
    </table>

    <br />
    <br />
    <div class="col-md-6">
        <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("WybierzPostac", "Postac")>Powrót</a>
    </div>
</div>




