﻿@model AplikacjaDnD.Models.Przygoda

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<div class="container ceneterContainer">
    <div id="box">

        <h1 class="naglowek">bierzesz już udział w tej przygodzie!</h1>
        <h3 id="desc" class="center-align">Wybierz inną przygodę.</h3>

        <div class="center-align">

            <div class="center-align">
                <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Panel gracza</a>
                <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("DolaczDoPrzygody", "Przygoda")>Wybierz przygodę <i class="material-icons right">send</i></a>
            </div>
        </div>
        </div>
</div>