﻿@model IEnumerable<AplikacjaDnD.Models.Przygoda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Mistrz Gry
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoziomTrudnosci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiczbaGraczy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiczbaLokacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MistrzGry.Nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoziomTrudnosci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiczbaGraczy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiczbaLokacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fabula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPrzygoda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPrzygoda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPrzygoda })
        </td>
    </tr>
}

</table>
