﻿
@{
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<div class="container ceneterContainer">
    <div id="box">

        <h1 class="naglowek">przygoda rozpoczęta</h1>
        <h3 id="desc" class="center-align">Koniec przypadku użycia.</h3>

        <div class="center-align">

            <div class="center-align">
                <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Powrót do strony głównej</a>
            </div>
        </div>
    </div>
</div>


