﻿@model AplikacjaDnD.Models.Postac

@{
    ViewBag.Title = "Brak postaci";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<div class="container ceneterContainer">
    <div id="box">

        <h1 class="naglowek">nie posiadasz żadnych postaci</h1>
        <h3 id="desc" class="center-align">aby rozpocząć grę musisz utworzyć postać</h3>

        <div class="center-align">
            <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")><i class="material-icons left">close</i>Panel gracza</a>
            <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Create", "Postac")><i class="material-icons right">send</i>Stwórz postać</a>

        </div>
    </div>
</div>

  
