﻿@model AplikacjaDnD.Models.Postac

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<h2 class="naglowek">stwórz postać</h2>
<div id="boxContainer" class="container ceneterContainer">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "red-text" })

        <div class="row">
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Nazwa, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Nazwa, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="row center-align">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.IdKlasa, "Klasa", htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        <br />
                        @Html.DropDownList("IdKlasa", null, htmlAttributes: new { @class = "validate" })
                        @Html.ValidationMessageFor(model => model.IdKlasa, "", new { @class = "red-text" })
                    </div>
                </div>

                <div class="row center-align">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.IdRasa, "Rasa", htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        <br />
                        @Html.DropDownList("IdRasa", null, htmlAttributes: new { @class = "validate" })
                        @Html.ValidationMessageFor(model => model.IdRasa, "", new { @class = "red-text" })
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")><i class="material-icons left">close</i>Anuluj</a>
                    <button class="start waves-effect waves-light btn light-blue darken-3" type="submit" name="action">
                        Rozpocznij
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    }
</div>


