﻿@model AplikacjaDnD.Models.Postac

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Postac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gracz.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gracz.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klasa.BonusKlasowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klasa.BonusKlasowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rasa.Przywilej)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rasa.Przywilej)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poziom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poziom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoziomZdrowia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoziomZdrowia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoziomMany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoziomMany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doswiadczenie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doswiadczenie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
