﻿@model AplikacjaDnD.Models.Postac

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<style>
    .jumbotron {
        background-color: crimson;
        color: #fff;
    }

    .btn-md {
        background-color: #009999;
        border-color: #009999;
    }
</style>


<h2></h2>
<div class="col-lg-12 text-right">
    <img src="~/Images/default-avatar.png" class="img-rounded" alt="Cinque Terre" width="50" height="50">
    <h4>@Session["UserNick"]</h4>
    <h5>Gracz</h5>
</div>
<div class="container">
    <div>
        <h4>Postac</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Gracz.Nick)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gracz.Nick)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Klasa.BonusKlasowy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Klasa.BonusKlasowy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rasa.Przywilej)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rasa.Przywilej)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nazwa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nazwa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Poziom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Poziom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PoziomZdrowia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PoziomZdrowia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PoziomMany)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PoziomMany)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Doswiadczenie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Doswiadczenie)
            </dd>

        </dl>
    </div>
    <p>
        <a class="btn btn-info btn-md" href=@Url.Action("WybierzPostac", "Postac")>Powrót</a>
        <a class="btn btn-info btn-md" href=@Url.Action("Edit", new { id = Model.IdPostac })>Edytuj</a>
    <p>
</div>
