﻿@model IEnumerable<AplikacjaDnD.Models.Postac>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<h2 class="naglowek">lista postaci</h2>
<div id="boxContainer" class="container ceneterContainer">

    <table class="highlight centered responsive-table">
        <tr>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Rasa)
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Klasa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rasa.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klasa.Nazwa)
                </td>
                <td>
                    <!--    <a class="btn btn-info btn-md" href=@Url.Action("Details", new { id = item.IdPostac })>Szczegóły</a> |-->
                    <a class="start waves-effect waves-light btn  red accent-3" href=@Url.Action("Delete", new { id = item.IdPostac })><i class="material-icons right">close</i>Usuń</a>
                </td>
            </tr>
        }

    </table>
    <br />
    <br />
    <div class="col-md-6">
        <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Powrót</a>
    </div>
</div>
