﻿@model AplikacjaDnD.Models.Postac

@{
    ViewBag.Title = "Postać utworzona";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<div class="container ceneterContainer">
    <div id="box">

        <h1 class="naglowek">postać została utworzona.</h1>


        <div class="center-align">
            <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Panel gracza<i class="material-icons right">send</i></a>
        </div>
    </div>
</div>

