﻿@model IEnumerable<AplikacjaDnD.Models.Postac>

@{
    ViewBag.Title = "WybierzPostac";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}


<h2 class="naglowek">wybierz postać</h2>
<div id="boxContainer" class="container ceneterContainer">

    <table class="highlight centered responsive-table">
        <tr>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Rasa)
            </th>
            <th class="center-align">
                @Html.DisplayNameFor(model => model.Klasa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rasa.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klasa.Nazwa)
                </td>
                <td>
                    <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("DolaczDoPrzygody", "Przygoda")><i class="material-icons right">send</i>Wybierz</a>
                </td>
            </tr>
        }

    </table>
    <br />
    <br />
    <div class="col-md-6">
        <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Powrót</a>
    </div>
</div>
