﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kontogracz")
    @Styles.Render("~/Content/buttoneffect")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)

</head>

<body>
    <ul id="dropdown1" class="dropdown-content">
        <li>@Html.ActionLink("moje konto", "Index", "Gracz")</li>
        <li>@Html.ActionLink("lista postaci", "Index", "Postac")</li>
        <li>@Html.ActionLink("rozpoczęte przygody", "RozpoczetePrzygody", "GraczPrzygoda")</li>
        <li>@Html.ActionLink("zakończone przygody", "ZakonczonePrzygody", "GraczPrzygoda")</li>
        <li>@Html.ActionLink("zakończ", "Index", "Home")</li>
    </ul>
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <a href=@Url.Action("Menu", "Gracz") class="brand-logo">Plaguelands </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="barmenu" class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"> @Session["UserNick"].ToString().ToLower()<i class="material-icons left">account_circle</i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>@Html.ActionLink("moje konto", "Index", "Gracz")</li>
        <li>@Html.ActionLink("lista postaci", "Index", "Postac")</li>
        <li>@Html.ActionLink("rozpoczęte przygody", "RozpoczetePrzygody", "GraczPrzygoda")</li>
        <li>@Html.ActionLink("zakończone przygody", "ZakonczonePrzygody", "GraczPrzygoda")</li>
        <li>@Html.ActionLink("zakończ", "Index", "Home")</li>
    </ul>


        @RenderBody()


        <footer class="blue-grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="logo">Plaguelands</h5>
                        <p id="foot" class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis aliquam elit, quis semper mauris. Mauris et placerat lacus.</p>
                    </div>
                    <div id="footerLinks" class="col l4 offset-l2 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Kontakt</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Pomoc</li>
                            <li><a class="grey-text text-lighten-3" href="#!">Regulamin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container white-text">
                    <p id="copy">Copyright © Plaguelands Project 2019. All Rights Reseverd.</p>
                </div>
            </div>
        </footer>

</body>
</html>
