﻿@model AplikacjaDnD.Models.GraczPrzygoda

@{
    ViewBag.Title = "Details";
}

<style>
    .jumbotron {
        background-color: crimson;
        color: #fff;
    }

    .btn-md {
        background-color: #009999;
        border-color: #009999;
    }
</style>

<h2></h2>
<div class="col-lg-12 text-right">
    <img src="~/Images/default-avatar.png" class="img-rounded" alt="Cinque Terre" width="50" height="50">
    <h4>@Session["UserNick"]</h4>
    <h5>Gracz</h5>
</div>
<div class="container">

    <div>
        <h4>GraczPrzygoda</h4>
        <hr />
        <div class="container">
            <dl class="dl-horizontal">
                <dt>
                    Gracz
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gracz.Nick)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Przygoda.Tytul)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Przygoda.Tytul)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataRozpoczecia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataRozpoczecia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataZakonczenia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataZakonczenia)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Przygoda.Fabula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Przygoda.Fabula)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Przygoda.LiczbaLokacji)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Przygoda.LiczbaLokacji)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Przygoda.LiczbaGraczy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Przygoda.LiczbaGraczy)
                </dd>
                <dt>
                    Mistrz Gry
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Przygoda.MistrzGry.Nick)
                </dd>


            </dl>
        </div>
        <p>
            <div class="col-md-6">
                <a class="btn btn-info btn-md" href=@Url.Action("Menu", "Gracz")>Powrót</a>
            </div>
        </p>
    </div>
</div>
