﻿@model IEnumerable<AplikacjaDnD.Models.GraczPrzygoda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Gracz
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przygoda.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRozpoczecia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataZakonczenia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gracz.Nick)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przygoda.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRozpoczecia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataZakonczenia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdGraczPrzygoda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdGraczPrzygoda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdGraczPrzygoda })
        </td>
    </tr>
}

</table>
