﻿@model List<AplikacjaDnD.Models.RozpoczetePrzygodyModelView>

@{
    ViewBag.Title = "ZakonczonePrzygody";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<h2 class="naglowek">rozpoczęte przygody</h2>
<div id="boxContainer" class="container ceneterContainer">

    <table class="highlight centered responsive-table">
        <tr>
            <th class="center-align">
                Mistrz Gry
            </th>
            <th class="center-align">
                Tytuł
            </th>
            <th class="center-align">
                @Html.ActionLink("Data Rozpoczęcia", "RozpoczetePrzygody", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th class="center-align">
                Poziom Trudności
            </th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Nick)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].DataRozpoczecia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PoziomTrudnosci)
                </td>
            </tr>
        }
    </table>

    <br />
    <br />
    <div class="col-md-6">
        <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Powrót</a>
    </div>
</div>

