﻿@model AplikacjaDnD.Models.Gracz

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<div id="formContainer" class="container ceneterContainer">
    <h2 class="naglowek">dołącz do nas</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "red-text" })

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "red-text" })
                        @Html.LabelFor(model => model.Imie, htmlAttributes: new { @class = "control-label col-md-2" })


                    </div>
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.Nazwisko, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nazwisko, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Nazwisko, "", new { @class = "red-text" })
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.Nick, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nick, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Nick, "", new { @class = "red-text" })
                    </div>

                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.Haslo, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Haslo, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Haslo, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.DataUrodzenia, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.DataUrodzenia, new { htmlAttributes = new { type = "date", @class = "validate", placeholder = "dd/mm/yyyy" } })
                        @Html.ValidationMessageFor(model => model.DataUrodzenia, "", new { @class = "red-text" })
                    </div>
                </div>
                <div class="form-group">
                    <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Index", "Home")><i class="material-icons left">close</i>Anuluj</a>
                    <button class="start waves-effect waves-light btn light-blue darken-3" type="submit" name="action">
                        Dołącz
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>


    }
</div>

