﻿@model AplikacjaDnD.Models.Gracz

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.Postaci);
}

<h2>Details</h2>

<div>
    <h4>Gracz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUrodzenia)
            <br>
            <br>
        </dd>
        <dt>
            Postaci
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Postaci.First().Nazwa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Postaci.First().PoziomMany)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Postaci.First().Doswiadczenie)
                    </th>
                </tr>

                @foreach (var item in Model.Postaci)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Poziom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doswiadczenie)
                        </td>
                    </tr>
                }
                </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOsoba }) |
    @Html.ActionLink("Back to List", "Index")
</p>
