﻿@model AplikacjaDnD.Models.Gracz

@{
    ViewBag.Title = "GraczUtworzony";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<div class="container ceneterContainer">
    <div id="box">

        <h1 class="naglowek">Witamy w drużynie</h1>
        <h3 id="desc" class="center-align">Gracz został pomyślnie dodany.</h3>

        <div class="center-align">
            <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Index", "Home")>Powrót do strony glównej</a>
            <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Start", "Gracz")>Zaczynamy <i class="material-icons right">send</i></a>
        </div>
  </div>
</div>

