﻿@model AplikacjaDnD.Models.Osoba

    @{
        Layout = "~/Views/Shared/_LayoutInfo.cshtml";
        ViewBag.Title = "Index";
    }

<style>
#boxContainer {
    padding-left:10%;
    padding-right:10%
}
</style>

    <h2 class="naglowek">moje konto</h2>
    <div id="boxContainer" class="container ceneterContainer">
        <table class="striped responsive-table">
            <tr>
                <td>
                    <b> @Html.DisplayNameFor(model => model.Imie)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Imie)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  @Html.DisplayNameFor(model => model.Nazwisko)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nazwisko)
                </td>
            </tr>
            <tr>
                <td>
                    <b>   @Html.DisplayNameFor(model => model.Nick)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nick)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  @Html.DisplayNameFor(model => model.Email)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  @Html.DisplayNameFor(model => model.DataUrodzenia)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DataUrodzenia)
                </td>
            </tr>
        </table>
        <br />
        <br />
        <div class="col-md-6">
            <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Menu", "Gracz")>Powrót</a>
        </div>

    </div>
