﻿@model AplikacjaDnD.Models.Gracz

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
}

<h2 class="naglowek">panel gracza</h2>

<div id="boxContainer" class="container ceneterContainer dashContainerSize">
    <div class="grid">
        <figure class="effect-romeo">
            <img src="~/Images/createChar.jpg" alt="CreateCharacter">
            <figcaption>
                <h2>Stwórz <span>Postać</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et orci sed risus volutpat consequat. Nam a justo gravida, ultrices mauris ut, ultricies orci. </p>
                <a href=@Url.Action("Create", "Postac")></a>
            </figcaption>
        </figure>
        <figure class="effect-romeo">
            <img src="~/Images/new.png" alt="NewGame">
            <figcaption>
                <h2>Nowa <span>gra</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et orci sed risus volutpat consequat. Nam a justo gravida, ultrices mauris ut, ultricies orci. </p>
                <a href=@Url.Action("WybierzPostac", "Postac")></a>
            </figcaption>
        </figure>
        <figure class="effect-romeo">
            <img src="~/Images/continue.jpg" alt="ContinueGame">
            <figcaption>
                <h2>Kontynuuj <span>grę</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et orci sed risus volutpat consequat. Nam a justo gravida, ultrices mauris ut, ultricies orci. </p>
                <a href=@Url.Action("WybierzPostacKontynuuj", "Postac")></a>
            </figcaption>
        </figure>
    </div>
</div>
