﻿@model AplikacjaDnD.Models.ViewModels.StratViewModel

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div id="formContainer" class="container ceneterContainer">
    <h2 class="naglowek">Zaloguj się</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "red-text" })

        <div class="row">
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.Nick, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nick, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.Nick, "", new { @class = "red-text" })
                    </div>
                </div>

                    <div class="row center-align">
                        <div class="input-field col s12">
                            @Html.LabelFor(model => model.Haslo, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.PasswordFor(model => model.Haslo, new { htmlAttributes = new { @class = "validate" } })
                            @Html.ValidationMessageFor(model => model.Haslo, "", new { @class = "red-text" })
                        </div>
                    </div>
                <br />
                <br />
                    <div class="row">
                        <a class="start waves-effect waves-light btn light-blue darken-3" href=@Url.Action("Index", "Home")><i class="material-icons left">close</i>Anuluj</a>
                        <button class="start waves-effect waves-light btn light-blue darken-3" type="submit" name="action">
                            Rozpocznij
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                <hr />
                    <div class="row">
                        <a class="start waves-effect waves-red btn-flat" href=@Url.Action("Create", "Gracz")>Dołącz do nas</a>
                    </div>
</form>
        </div>
    }
</div>
