﻿@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="parallax-container center valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 white-text">
                <h3 class="blue-grey-text text-darken-4" id="header1">Uwolnij Azeroth spod jarzma tyranii Króla Licha!</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis aliquam elit, quis semper mauris. Mauris et placerat lacus. Aenean sodales neque ut quam venenatis, sed porta lacus rutrum. Vivamus eu turpis sed leo scelerisque finibus.
                    Aliquam hendrerit sed massa ut condimentum.
                </p>
                <br />
                    <a id="start" class="waves-effect waves-light btn-large light-blue darken-3" href=@Url.Action("Create", "Gracz")>zostań bohaterem azeroth</a>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/Images/t1.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h1 class="header">Plaguelands</h1>
        <h4 class="header">Czym jest?</h4>
        <p  id="desc" class="blue-grey-text text-darken-4 lighten-3">Suspendisse tristique maximus risus vulputate dignissim. Duis suscipit vestibulum interdum. Ut venenatis ex vitae fringilla efficitur. Sed nec leo libero. Sed nec tortor vitae ex ullamcorper pulvinar sit amet tincidunt purus. 
        Etiam id dui molestie, ultricies nibh eu, dapibus elit. Fusce efficitur interdum magna, eget blandit urna porta venenatis. Mauris vel consectetur urna. Sed vulputate, erat eu sagittis faucibus, arcu orci laoreet ex, ac facilisis mi est ac nulla. Donec libero sapien, tristique non blandit non, venenatis sed lacus. 
        Maecenas a euismod erat. Sed nec nulla consequat erat congue aliquam ac in orci. Sed quam ligula, pretium nec vestibulum a, condimentum nec est. Vivamus est est, maximus et scelerisque posuere, commodo vel libero. Donec tincidunt maximus dolor vel consectetur. In nec pharetra neque.
    </div>
</div>




<div id="pcon" class="parallax-container">
    <div class="container">
        <div class="row">
            <div class="center-align blue-grey-text text-darken-4" id="header2">
                <h3 >Koniec z kartkami!</h3>
                <h4 id="podpis">
                    Wszytskie dane rozgrywki w jednym miejscu.
                </h4>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/Images/t2.jpg">
    </div>
</div>

