﻿* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    
}

html {
    height: 100%;
    background: #263238;
}

body {
    background-image: url(/Images/t1.jpg);
    background-color: #263238;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ceneterContainer {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#dolacz {
    font-family: 'Megrim', cursive;
}

.logo {
    font-family: 'Megrim', cursive;
    font-size: 28px;
    color: #039be5;
}

.sidenav {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
}

footer a {
    font-family: 'Raleway', sans-serif;
}

#footerLinks {
    padding-top: 20px;
    max-width: 100px;
}

#copy {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #039be5;
}

#foot {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

#box {
    margin:50px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#formContainer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#desc {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

.start {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 10px;
}

.naglowek {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: #039be5;
    z-index:1;
}

@media screen and (max-width: 800px) {
    .naglowek {
        font-family: 'Major Mono Display', monospace;
        padding-top: 1px;
        font-size: 32px;
        text-align: center;
        color: #039be5;
        z-index: 1;
    }

    #formContainer {
        padding: 0px 5px 0px 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #copy {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        color: #039be5;
    }

    #foot {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
    }

}