﻿html {
    background: #263238;
    height: 100%;
}

body {
   
}

#header1 {
    font-family: 'Megrim', cursive;
    background-color: rgba(255, 255, 255, 0.5);
}

#header2 {
    text-align: center;
    margin: 100px 0px 0px 0px;
    font-family: 'Megrim', cursive;
    background-color: rgba(255, 255, 255, 0.7);
}

footer a {
    font-family: 'Raleway', sans-serif;
}

#footerLinks {
    padding-top: 20px;
    max-width: 100px;
}

.sidenav {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
}

#podpis {
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-family: 'Megrim', cursive;
    font-size: 28px;
    color: #039be5;
}

.header {
    text-align: center;
    font-family: 'Megrim', cursive;
    color: #01579b;
}

.parallax {
    opacity: 0.8;
}

.section {
    height: 30%;
}

#pcon{
    height: 300px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#copy {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #039be5;
}

 #foot {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }

#desc {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

#start {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
    
}

#barmenu {
    font-family: 'Major Mono Display', monospace;
}

@media screen and (max-width: 800px){

    #section2 {
        margin: 10px 5px 0px 5px;
    }

        #desc {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
    }

    #start {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
    }

    #header1 {
        font-family: 'Megrim', cursive;
        font-size: 34px;
        background-color: rgba(255, 255, 255, 0.5);
    }


}