﻿
html {
    background: #263238;
    height: 100%;
}


.naglowek {
    font-family: 'Major Mono Display', monospace;
    margin-top:50px;
    text-align: center;
    color: white;
    z-index: 1;
}

#barmenu {
    font-family: 'Major Mono Display', monospace;
}

.ceneterContainer {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#desc {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: white;
}

#boxContainer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

body {
    background-image: url(/Images/t1.jpg);
    background-color: #263238;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.sidenav {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
}

footer a {
    font-family: 'Raleway', sans-serif;
}

#footerLinks {
    padding-top: 20px;
    max-width: 100px;
}

.logo {
    font-family: 'Megrim', cursive;
    font-size: 28px;
    color: #039be5;
}

#copy {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #039be5;
}

#foot {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
